.next/
node_modules/
out/
dist/
.tmp/
.env
.env.local
.env.*.local
CloudflareAPIToken.txt
CloudflareAccountId.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
FWC26 Match Schedule_v17_10042026_EN.pdf
PDF/
banner/
iamges/
src/assets/banners/*-2.*
